@media (prefers-color-scheme: dark){
   .msg-content-container:not(.container--self) {
    background: #262626 !important;
    color: white !important;
    }

    div.personalization-bubble {
    opacity: 0 !important;
    } 
}

@media (prefers-color-scheme: light){
    .msg-content-container:not(.container--self) {
     background: white !important;
     color: black !important;
     }
 
     div.personalization-bubble {
     opacity: 0 !important;
     } 
 }
